body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.navbar-nav {
  margin-right: 20%;
}

.navbar-brand img {
  max-height: 70px;
  margin-left: 40%;
}

div#container {
  min-height: 660px;
  background-image: url(./img/crackers-dates-delicious-1152276.jpg);
}
#container img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  display: none;
}

.navbar-brand img.homepage {
  width: 100%;
  height: 100%;
}

.container-text-editor {
  color: #fff;
}

.container-hover,
.container-hover-2 {
  /* background-color: rgba(43, 43, 43, 0.5);
  background-color: rgba(33, 78, 202, 0.5); */
  min-height: 660px;
  max-width: 1220px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  top: 0px;
  z-index: 3;
  opacity: 0.7;
  align-items: center;
}
.container-hover-2 {
  min-height: auto;
}
.container-hover-2 h2.heading-title {
  color: #21325e;
  font-size: 30px;
  letter-spacing: 0.6px;
}

.container-row {
  color: #fff;
  /* background: #333; */
  text-shadow: none;
  width: 100%;
  display: flex;
}

.container-column {
  color: black;
  width: 50%;
  position: relative;
  min-height: 1px;
  display: flex;
  /* padding: 60px 50px 60px 50px; */
}
.container-column-2 {
  background: #333;
}

.container-element {
  position: relative;
  margin-bottom: 20px;
  width: 100%;
  padding: 60px 50px 60px 50px;
}

.elementor-widget-container.offer-2 {
  padding-bottom: 20px;
}

.container-widget {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s,
    -webkit-border-radius 0.3s, -webkit-box-shadow 0.3s;

  position: relative;
  width: 100%;
  flex-wrap: wrap;
  align-content: flex-start;
}

h2.heading-title {
  color: #f2b668;
  font-size: 26px;
  text-transform: capitalize;
  letter-spacing: 1px;
  mix-blend-mode: color-dodge;
}

.container-divider {
  padding-top: 5px;
  padding-bottom: 5px;
}

.divider-separator {
  display: inline-block;
  width: 10%;
  border-top: 2px solid #cca876;
}
.elementor-button {
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1px;
  fill: #ffffff;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0);
  border-style: solid;
  border-width: 0px 0px 2px 0px;
  border-radius: 0px 0px 0px 0px;
  padding: 0px 0px 4px 0px;
}
.elementor-button-2 {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
  fill: #ffffff;
  color: #ffffff;
  background-color: #cca876;
  border-radius: 2px 2px 2px 2px;
  padding: 15px 20px 15px 20px;
}
.elementor-button-2:hover {
  background-color: #92754c;
  color: #fff;
}

.elementor-button:focus,
.elementor-button:hover {
  color: #cca876;
}

.container-shape {
  transform: rotate(180deg);
  position: absolute;
  width: 100%;
  left: 0;
  line-height: 0;
  direction: ltr;
  bottom: -1px;
}

.container-section {
  padding: 50px 0px 50px 0px;
}

.widget-container {
  position: absolute;
  margin: 30px 0px 0px 0px;
  padding: 0px 0px 0px 15px;
  border-style: solid;
  border-width: 0px 0px 0px 5px;
  border-color: #21325e;
}
.widget-container-location {
  padding: 0px 0px 0px 15px;
  border-style: solid;
  border-width: 0px 0px 0px 5px;
  border-color: #21325e;
}

section.container-section {
  position: relative;
}

.elementor-widget:not(:last-child) {
  margin-bottom: 20px;
}

.elementor-button-wrapper {
  text-align: right;
}

.container-column-wrap {
  padding: 10px;
}
.elementor-column-wrap2 {
  padding: 10px;
}

/* Our Products */
.background-overlay {
  background-color: #f5f5f5;
  opacity: 0.8;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
}

.elementor-widget-container {
  margin: 0% 0% 0% -15%;
  margin: 0px 0px 30px 0px;
  padding: 0px 0px 10px 0px;
}
/* .elementor-widget-container {
  padding: 0px 0px 0px 15px;
  border-style: solid;
  border-width: 0px 0px 0px 5px;
  border-color: #21325e;
} */

.elementor-icon {
  display: inline-block;
  line-height: 1;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  color: #818a91;
  font-size: 50px;
  text-align: center;
  border-radius: 50%;
  padding: 0.5em;
  color: #818a91;
  border: 3px solid #818a91;
  background-color: transparent;
}

.elementor-icon:hover {
  background-color: #21325e;
}

.elementor-icon svg {
  width: 1em;
  height: 1em;
  position: relative;
  display: block;
}

.elementor-icon-box-wrapper {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  flex-direction: row;
  text-align: left;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
}

.elementor-element {
  width: 100%;
}

.elementor-widget-icon-box.elementor-position-left .elementor-icon-box-wrapper,
.elementor-widget-icon-box.elementor-position-right
  .elementor-icon-box-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.elementor-widget-icon-box.elementor-position-left .elementor-icon-box-wrapper {
  text-align: left;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

.elementor-icon-box-icon {
  margin-right: 25px;
}

.our-products-bg {
  background-color: #f5f5f5;
  background-image: url(./img/crackers-dates-delicious-1152276.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding-top: 0px;
  padding-bottom: 0px;
}

.elementor-column-wrap {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 12% 6% 12% 6%;
}
.elementor-column-wrap.elementor-element-populated {
  background-color: #f5f5f5;
}
.container-column.pad-zero {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}

.elementor-widget-wrap.our-product-2 {
  padding: 6% 20% 6% 20%;
  /* padding: 30px 30px 30px 30px; */
  align-content: center;
  align-items: center;
  display: flex;
  background-color: transparent;
}

.elementor-column-wrap.elementor-element-populated.ourProduct2 {
  border-style: solid;
  border-width: 3px 3px 3px 3px;
  border-color: #bcbcbc;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 30px 30px 30px 30px;
  background-color: transparent;
}

.elementor-icon-wrapper,
.elementor-element-0e65a4b,
.elementor-text-editor {
  text-align: center;
}

.elementor-text-editor-left {
  text-align: left;
}

/* LocationPage */

.elementor-column-wrap-location-page {
  padding: 10px;
}

.container-section.location-page {
  padding: 50px 0px 0px 0px;
}

.elementor-container {
  max-width: 1220px;
  margin-left: auto;
  margin-right: auto;
}

label b {
  color: red;
}
